In [1]:
# load modules
import os 
import sys
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.datasets import load_svmlight_file
from sklearn.feature_extraction import DictVectorizer
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn import metrics
from sklearn.model_selection import learning_curve
%matplotlib
import matplotlib.pyplot as plt

Using matplotlib backend: Qt5Agg

In [2]:
# 添加列名
header_row = ['age','sex','cp','trestbps','chol','fbs',\
                'restecg','thalach','exang','oldpeak','slope','ca','thal','target']
 
# 载入数据
heart = pd.read_csv('processed.cleveland.data.csv',names=header_row)

In [3]:
x=heart[['age','sex','cp','trestbps','chol','fbs',\
                'restecg','thalach','exang','oldpeak','slope','ca','thal']]
x=x[:-1]
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,59,1,4,164,176,1,2,90,0,1.0,2,2,6
292,57,0,4,140,241,0,0,123,1,0.2,2,0,7
293,45,1,1,110,264,0,0,132,0,1.2,2,0,7
294,68,1,4,144,193,1,0,141,0,3.4,2,2,7
295,57,1,4,130,131,0,0,115,1,1.2,2,1,7

In [4]:
y=heart.target
y=y[:-1]

In [5]:
#分割数据集到训练集和数据集
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.5,random_state=666)
# #进行处理（特征工程）one hot 编码
# dict=DictVectorizer(sparse=False)
# x_train=dict.fit_transform(x_train.to_dict(orient="records"))
# print(dict.get_feature_names())
# x_test=dict.transform(x_test.to_dict(orient="records"))
print(x_train)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
176   43    1   3       130   315    0        0      162      0      1.9
47    50    1   4       150   243    0        2      128      0      2.6
231   54    0   3       160   201    0        0      163      0      0.0
30    69    0   1       140   239    0        0      151      0      1.8
159   46    1   2       101   197    1        0      156      0      0.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
51    65    1   4       120   177    0        0      140      0      0.4
222   34    0   2       118   210    0        0      192      0      0.7
91    62    1   3       130   231    0        0      146      0      1.8
70    65    0   3       155   269    0        0      148      0      0.8
236   42    1   2       120   295    0        0      162      0      0.0

     slope  ca  thal
176      1   1     3
47       2   0     7
231      1   1     3
30       1   2     3
159      1   0     7
..     ...  ..   ...
51       1   0     7
222      1   0     3
91       2   3     7
70       1   0     3
236      1   0     3

[148 rows x 13 columns]

In [6]:
# mb = MultiLabelBinarizer()
# y_train = mb.fit_transform(y_train)

clf = OneVsRestClassifier(LogisticRegression(),n_jobs=-1)
clf.fit(x_train,y_train)
pred_y = clf.predict(x_test)

In [7]:
# training set result
y_predicted = clf.predict(x_test)

#report 
#print(metrics.classification_report(y_train,y_predicted))

import numpy as np
np.mean(y_predicted == y_test)

0.5945945945945946

In [8]:
from sklearn.metrics import f1_score
f1_score(y_test,y_predicted,average='micro')

0.5945945945945946