In [1]:
import numpy as np
import pandas as pd
%matplotlib
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
# import matplotlib.pyplot as plt
from sklearn.model_selection import learning_curve, validation_curve
from sklearn.naive_bayes import GaussianNB

Using matplotlib backend: Qt5Agg

In [2]:
# 添加列名
header_row = ['age','sex','cp','trestbps','chol','fbs',\
                'restecg','thalach','exang','oldpeak','slope','ca','thal','target']
 
# 载入数据
heart = pd.read_csv('processed.cleveland.data.csv',names=header_row)

In [3]:
x=heart[['age','sex','cp','trestbps','chol','fbs',\
                'restecg','thalach','exang','oldpeak','slope','ca','thal']]
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,57,0,4,140,241,0,0,123,1,0.2,2,0,7
293,45,1,1,110,264,0,0,132,0,1.2,2,0,7
294,68,1,4,144,193,1,0,141,0,3.4,2,2,7
295,57,1,4,130,131,0,0,115,1,1.2,2,1,7
296,57,0,2,130,236,0,2,174,0,0.0,2,1,3

In [10]:
heart["target"] = np.where(heart["target"] != 0, 1, 0)
y=heart.target
y

0      0
1      1
2      1
3      0
4      0
      ..
292    1
293    1
294    1
295    1
296    1
Name: target, Length: 297, dtype: int32

In [5]:
#分割数据集到训练集和数据集
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

In [11]:

clf = GaussianNB()
clf.fit(x_train, y_train)

GaussianNB()

In [12]:
# training set result
y_predicted = clf.predict(x_test)

#report 
#print(metrics.classification_report(y_train,y_predicted))

import numpy as np
np.mean(y_predicted == y_test)

0.8666666666666667